.panel-info>.panel-heading{
	background: #d31820;
	color: #fff;
	border-color: #e7e7e7;
}
.panel-info{
	border-color: #e7e7e7;
}

body{

}

.bg-login {
background:#fff;
}
.login {
	margin-top: 40px;
}
.red{
	background: #d31820;border: none;
  color: #fff;
}

.navbar{
  font-size:13px;
}

.navbar-red {
  background-color: #d31820;
}
.navbar-red .navbar-brand {
  color: #fff;
}
.navbar-red .navbar-brand:hover,
.navbar-red .navbar-brand:focus {
  color: #84040a;
  background-color: transparent;
}
.navbar-red .navbar-text {
  color: #fff;
}
.navbar-red .navbar-nav > li > a {
  color: #fff;
}
.navbar-red .navbar-nav > li > a:hover,
.navbar-red .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #b70d14;
}
.navbar-red .navbar-nav > .active > a,
.navbar-red .navbar-nav > .active > a:hover,
.navbar-red .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #b70d14;
}
.navbar-red .navbar-nav > .disabled > a,
.navbar-red .navbar-nav > .disabled > a:hover,
.navbar-red .navbar-nav > .disabled > a:focus {
  color: #84040a;
  background-color: transparent;
}
.navbar-red .navbar-toggle {
  border-color: #fff;
}
.navbar-red .navbar-toggle:hover,
.navbar-red .navbar-toggle:focus {
  background-color: #b70d14;
}
.navbar-red .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-red .navbar-collapse,
.navbar-red .navbar-form {
  border-color: #c8141b;
}
.navbar-red .navbar-nav > .open > a,
.navbar-red .navbar-nav > .open > a:hover,
.navbar-red .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #b70d14;
}
.row{
	margin-top:40px;
	padding: 0 10px;
}
.clickable{
	 cursor: pointer;   
}
/*.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}*/
.panel-heading div span{
	margin-left:5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color:#7c7c7c;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f9f9f9;
  border-top: #ccc;
}

.logo {
  margin-bottom: 15px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}

.bspace {
  margin-bottom: 15px;
}

.panel-useetv {
  border-color: #e7e7e7;
}
.panel-useetv > .panel-heading {
  color: #000;
  background-color: #e7e7e7;
}
.panel-useetv > .panel-heading + .panel-collapse .panel-body {
  border-top-color: none;
}
.panel-useetv > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: none;
}

.logoLogin {
  margin-bottom: 10px;
}

.searchSection {
  margin-bottom: 5px;
}
.button-history {
  margin-bottom: 30px;
}

.addArea {
  border:#ccc;
  border-radius: 5px;
}

.table {
font-size: 11px;
float:left !important;
}

.table td {
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;
}

.dateSearchInfo {
margin-top:20px;
height:10px;
position:relative;
}

.back-to-top {
    position: fixed;
    right: 0px;
    text-decoration: none;
    color: #ffffff;
    background-color: #115fe1;
    font-size: 12px;
    padding: 1em;
    display: block;
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
}

.back-to-top:hover {    
    background-color: #2874f2;
	 text-decoration: none;
    color: #ffffff;
}

.banner_running {
	color:#ffffff;
	position:relative;
	top:-20px;
	width:100%;
	background:#be151c;
	padding-top:3px;
	padding-bottom:5px;
}

.blink{
text-decoration: blink;
}

a.navbar-brand{
  margin-top: -7px;
  float: left;
  width: 90px;
}
